*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    position: relative;
}
.open-modal-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    cursor: pointer;
}

.modal{
    height: 70%;
    width: 70%;
    background-color: aqua;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.cross-btn{
    position:absolute;
    right: 10px;
    height: 40px;
    border: none;
    background-color: transparent;
    font-size: larger;
    cursor: pointer;
    top: 0;
}

.user-name{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

#dataTable {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    text-transform: uppercase;
  }
  
  tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  button {
    padding: 8px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  /* Optional: Center buttons in the Actions column */
  td:last-child {
    text-align: center;
  }
  
